---
import AppLayout from "../layouts/AppLayout.astro";
import { Image } from "astro:assets";
import sflogo from "../assets/sflogo.png";
import advisors from "../data/advisors.json";
const title = "About | Space Faculty";
const description = "About Space Faculty";
---

<AppLayout title={title} description={description}>
	<section class="grid items-center grid-cols-2 px-24 py-20 leading-relaxed bg-zinc-950 space-4">
		<div>
			<h1 class="text-2xl font-semibold text-zinc-200">We are Asia’s pioneer in creating opportunities for Experimentation, Learning and Leadership through space.</h1>
			<p class="pt-4 text-zinc-300 hyphens-auto">
				We collaborate with partners in both the private and public sectors to help organizations and governments capitalize on opportunities in the rapidly expanding space economy. We achieve this by facilitaing talent development, research and development, and industry growth strategies. We are actively involved in initiatives such as creating STEM learning programs, conducting life science experiments in space, and supporting governments in establishing their space industry ecosystems. 
			</p>
		</div>
		<div class="flex items-center justify-center">
			<Image
            src={sflogo}
            class="inline-flex overflow-hidden w-80"
            alt="Image of the author"
            loading="eager"
      />
		</div>
	</section>
	<section class="grid items-center px-24 py-20 text-center ">
		<div>
			<h1 class="text-4xl font-semibold text-zinc-200 mb-8">Our Advisors</h1>
			<div class="grid grid-cols-1 gap-4 m-auto lg:grid-cols-2 max-w-3xl">
					{
						advisors.map((item) => (
							<div class="flex flex-col items-center">
								<img src={item.image} alt={item.name} class="object-cover w-32 h-32 mb-4 rounded-md lg:h-64 lg:w-64" />
								<h2 class="text-base font-bold lg:text-2xl text-zinc-300">{item.name}</h2>
							</div>
						))
					}
				</div>
		</div>
	</section>
</AppLayout>
